@using Entities
@using Bussiness
<h3>CreateComponent</h3>

<div>
    <EditForm Model="Product">
        <div class="form-control">
            <label>Nombre del Producto: </label>
            <InputText @bind-Value="Product.Name"></InputText>
        </div>
        <div class="form-control">
            <label>Cantidad: </label>
            <InputNumber @bind-Value="Product.TotalQuantity"></InputNumber>
        </div>
        <input type="button" value="Agregar Producto" @onclick="SaveProduct"/>
    </EditForm>
</div>

@code {
    ProductEntity Product = new ProductEntity();
    private void SaveProduct()
    {
        B_Product.CreateProduct(Product);
    }
}
